.portfolio-work__project {
    display: flex;
    padding-top: 8rem;
}

.portfolio-work__headline {
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
}

.portfolio-work__image-container {
    overflow: hidden;
    max-height: 450px;
    margin: 0 3rem;
}

.portfolio-work__content-block {
    padding: 0 3rem;
}

.portfolio__link-button {
    display: inline-flex;
    background: #4c0143;
    padding: 20px 70px;
    text-decoration: none;
    color: white;
    margin: 40px 0px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;

    &:hover {
        background: #41004d;
        transform: scale(1.03);
    }
}
