<navigation-component></navigation-component>
<div class="portfolio-work__container">
    <div class="portfolio-work__project fade-in">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="dist/images/owner-mockup-site.png" alt="ford-owner-site"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Ford Owner 2.0</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything into micro components and creating feature componets out of it. This site has an MVP approach with monthly roll outs of new features.</p>
                <a class="portfolio__link-button" href="https://owner.ford.com" target="_blank">Vist Site</a>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project portfolio-white-bkgd">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Lincoln Way App</h3>
                <p class="portfolio-base-font">The Lincoln Way App site is an informational site for the application. The purpose is to give consumers more information on the Lincoln Way Application.</p>
                <a class="portfolio__link-button" href="https://www.lincoln.com/lincolnway/app/" target="_blank">Vist Site</a> 
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="dist/images/lincoln-way-app.jpg" alt="ford-owner-site"/>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="dist/images/ford-gt.jpg" alt="ford-owner-site"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Ford GT/Configurator</h3>
                <p class="portfolio-base-font">Ford GT performance site was built alongisde the GT Application (only live for one month). This site maintains a configurator component to allow applicants to configure different versions of the GT.</p>
                <a class="portfolio__link-button" href="https://www.ford.com/performance/gt/" target="_blank">Vist Site</a> 
            </div>
        </div>
    </div>
    <div class="portfolio-work__project portfolio-white-bkgd">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">HTK Architects</h3>
                <p class="portfolio-base-font">A showcase for their architecture work, this site was designed around HTK branding standards.</p>
                <a class="portfolio__link-button" href="http://htkarchitects.net/" target="_blank">Vist Site</a> 
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="dist/images/htk-architects.jpg" alt="HTK Architects"/>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="dist/images/kc-streetcar.jpg" alt="KC Streetcar"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">KC Streetcar</h3>
                <p class="portfolio-base-font">An informational site for the KC Streetcar. The site was built around an existing style guide and provides updates on future plance for the streetcar.</p>
                <a class="portfolio__link-button" href="http://kcstreetcar.org/" target="_blank">Vist Site</a>
            </div> 
        </div>
    </div>
</div>
