<div class="portfolio-work__container">
    <div class="portfolio-work__project">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="images/owner-mockup-site.png" alt="ford-owner-site"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Ford Owner 2.0</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything down into core components and creating feature components out of them. This is an ongoing project that will reinvent the entire Ford Owner experience. </p>
                <a class="portfolio__link-button" href="https://owner.ford.com" target="_blank">Vist Site</a>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project portfolio-white-bkgd">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Lincoln Way App</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything down into core components and creating feature components out of them. This is an ongoing project that will reinvent the entire Ford Owner experience. </p>
                <a class="portfolio__link-button" href="https://www.lincoln.com/lincolnway/app/" target="_blank">Vist Site</a> 
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="images/lincoln-way-app.jpg" alt="ford-owner-site"/>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="images/ford-gt.jpg" alt="ford-owner-site"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">Ford GT/Configurator</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything down into core components and creating feature components out of them. This is an ongoing project that will reinvent the entire Ford Owner experience. </p>
                <a class="portfolio__link-button" href="https://www.ford.com/performance/gt/" target="_blank">Vist Site</a> 
            </div>
        </div>
    </div>
    <div class="portfolio-work__project portfolio-white-bkgd">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">HTK Architects</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything down into core components and creating feature components out of them. This is an ongoing project that will reinvent the entire Ford Owner experience. </p>
                <a class="portfolio__link-button" href="http://htkarchitects.net/" target="_blank">Vist Site</a> 
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="images/htk-architects.jpg" alt="HTK Architects"/>
            </div>
        </div>
    </div>
    <div class="portfolio-work__project">
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__image-container">
                <img src="images/kc-streetcar.jpg" alt="KC Streetcar"/>
            </div>
        </div>
        <div class="portfolio-column-1-2">
            <div class="portfolio-work__content-block">
                <h3 class="portfolio-work__headline">KC Streetcar</h3>
                <p class="portfolio-base-font">A start on the redesign of the Owner experience for Ford. Breaking everything down into core components and creating feature components out of them. This is an ongoing project that will reinvent the entire Ford Owner experience. </p>
                <a class="portfolio__link-button" href="http://kcstreetcar.org/" target="_blank">Vist Site</a>
            </div> 
        </div>
    </div>
</div>
