<div class="portfolio-container">
    <div class="portfolio-resume-headline__container">
        <h3 class="portfolio-resume-headline">NANCY HOLDER</h3>
        <p class="portfolio-base-font">DEVELOPER & DESIGNER</p>
        <p class="portfolio-base-font">913.271.1262 | nancydeholder@gmail.com</p>
    </div>
    <div class="portfolio-resume__container">
        <div class="portfolio-column-1-2">
            <h3 class="portfolio-resume-h3">EXPERIENCE</h3>
            <div class="portfolio-content-block">
                <p class="portfolio-base-font"><b>VML</b> | Kansas City, MO</p>
                <p class="portfolio-base-font">Web Developer</p>
                <p class="portfolio-base-font">November 2015 - Present</p>
                <p class="portfolio-base-font portfolio-resume--new-line">Develop complex applications and highly visible
                websites for Ford and Lincoln brands in a fast
                paced environment. Leads development team
                of 6 and works with business analysts to help
                provide time estimates and schedules for projects.
                Provides feedback to creatives on issues with
                layout and functionality.</p>
            </div>

            <div class="portfolio-content-block">
                <p class="portfolio-base-font"><b>BROCKTON CREATIVE GROUP</b> | Kansas City, MO</p>
                <p class="portfolio-base-font">Designer/Developer</p>
                <p class="portfolio-base-font">August 2013 - November 2015</p>
                <p class="portfolio-base-font portfolio-resume--new-line">Develop sites from start to finish, including site
                map, wireframe, back end, and front end. UI
                design when needed. Maintain and update live
                sites for clients. Lead quality assurance on all web
                development projects and ensure websites are
                to client standards.</p>
            </div>

            <div class="portfolio-content-block">
                <p class="portfolio-base-font"><b>BROCKTON CREATIVE GROUP</b> | Kansas City, MO</p>
                <p class="portfolio-base-font">Design Intern</p>
                <p class="portfolio-base-font">January 2013 - August 2013</p>
                <p class="portfolio-base-font portfolio-resume--new-line">Created marketing concepts, websites, collateral
                material, and social media graphics. Assisted art
                director on developing branding concepts. Edited
                photos for website use and assisted on additional
                tasks for a wide variety of clients.</p>
            </div>

            <div class="portfolio-content-block">
                <p class="portfolio-base-font"><b>LIED CENTER OF KANSAS</b> | Lawrence, KS</p>
                <p class="portfolio-base-font">Graphic Designer</p>
                <p class="portfolio-base-font">August 2011 - May 2013</p>
                <p class="portfolio-base-font portfolio-resume--new-line">Designed marketing material for events,
                developed files for TV spots, and photographed
                shows. Teamed with Art Director for the
                rebranding of the 2012 and 2013 seasons.</p>
            </div>

            <div class="portfolio-content-block">
                <p class="portfolio-base-font"><b>COMMERCE BANK</b> | Kansas City, MO</p>
                <p class="portfolio-base-font">Graphic Design Intern</p>
                <p class="portfolio-base-font">May 2012 - August 2012</p>
                <p class="portfolio-base-font portfolio-resume--new-line">Worked along side the Creative Solutions Group
                to develop promotional material for all branches
                of Commerce Bank. Completed over 170 projects
                and worked with fellow employees to develop
                marketing tactics.</p>
            </div>
        </div>

        <div class="portfolio-column-1-2">
            <h3 class="portfolio-resume-h3">EDUCATION</h3>
            <p class="portfolio-base-font"><b>THE UNIVERSITY OF KANSAS</b> | Lawrence, KS</p>
            <p class="portfolio-base-font">BFA in Design with a concentration in
            Visual Communication</p>
            <p class="portfolio-base-font portfolio-resume--new-line">Minor in Business</p>
            <p class="portfolio-base-font portfolio-resume--new-line">Certificate in Service Learning</p>
            <p class="portfolio-base-font portfolio-resume--new-line">Research Experience Program Certificate</p>

            <h3 class="portfolio-resume-h3">SKILLS</h3>
            <p class="portfolio-base-font">Adobe Creative Suite, Sketch, CSS, SCSS,
            HTML, PHP/Wordpress, Javascript, Angular, ES6,
            Typescript, Jenkins, Karma, Jasmine, Webpack,
            Node, AEM, Adobe Analytics, Adobe Target,
            MySQL</p>
            <p class="portfolio-base-font">Fluent in Spanish</p>

            <h3 class="portfolio-resume-h3">INVOLVEMENT</h3>
            <p class="portfolio-base-font"><b>UNLEASHED PET RESCUE</b></p>
            <p class="portfolio-base-font">Volunteer/Foster</p>
        </div>
    </div>
</div>
