.portfolio-resume-h3 {
    margin: 4rem 0 1rem;
}

.portfolio-resume-headline__container{
    padding: 0 2%;
}

.portfolio-resume__container {
    @media screen and (min-width: 1025px) {
        display: flex;
        justify-content: space-between;
    }
}